 body {
        background-color: #e2edf3;
      }
      .navbar {
        background-color: #17293d !important;
      }
      .btn {
        background-color: #17293d !important;
      }
      .pb-10 {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      #folder-path {
        word-break: break-all;
      }
      #logArea {
        font-family: 'Times New Roman', Times, serif;
      }
      #dtBasicExample_length select {
        background-color: #fff;
      }

      #dtBasicExample_filter input {
        background-color: #fff;
      }

      #dtBasicExample_filter input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      }